<div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    	<form {{action 'crearUsuario' on='submit' role="form"}}>
			<h2>Registro <small>Nuevo usuario</small></h2>
			<hr class="colorgraph">

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					{{input value=model.name class="form-control input-lg" name="first_name" id="first_name" placeholder="Nombre" tabindex="1"}}
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					{{input value=model.last_name class="form-control input-lg" name="last_name" id="last__name" placeholder="Apellido" tabindex="2"}}
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					{{input value=model.phone class="form-control input-lg" name="phone" id="phone" placeholder="Telefono" tabindex="3"}}
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					{{input value=model.email class="form-control input-lg" name="email" id="email" placeholder="Email" tabindex="4"}}
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
					{{input value=model.username class="form-control input-lg" name="user_name" id="user_name" placeholder="Nombre de Usuario" tabindex="5"}}
					</div>
				</div>					
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						{{input value=model.password type="password" class="form-control input-lg" name="password" id="password" placeholder="Password" tabindex="6"}}
					</div>
				</div>

			</div>

	
			<hr class="colorgraph">
			<div class="row">
				<div class="text-center"><input type="submit" value="Registrar" class="btn btn-primary btn-block btn-lg" tabindex="6"></div>
			</div>
		</form>
	</div>
</div>
</div>
<div id="validationModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">No se pudo guardar</h4>
      </div>
      <div class="modal-body">
        <p>Hay campos vacíos, debes llenar todo antes de guardar</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
