{{client-nav}}
<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
           
                <!-- Blog Post -->

                <!-- Title -->
                <br>
                ....  
                <font color="orange">    
                <h1>Nuestros productos</h1>
                </font>
                      <div>
                     <div class="col-xs-3">                    
                </div>        
                </div>                
                <hr>
                <img class="img-responsive" src="slide_02.jpg" alt="" align="center" width="1200" height="250">
              </div>              
           
        </div>
<br>
<br> 

</body>

<html> 
<head> 
<title>Test</title> 
<style type="text/css"> 
#izquierda { 
float: left; 
width: 33%; 
} 
#derecha { 
float: right; 
width: 33%; 
} 
#central { 
width: 33%; 
margin: 0 auto; 
} 
</style> 

</head> 

<body> 

    <div id="izquierda">  
        <div class="well">
{{!--             <h2>Entradas  y mas...</h2>
                            <img class="img-responsive" src="lacarta.jpg" alt="">
                            {{#prduct-list contentArray=model.product_promise as |sectionName currentItem|}}
                                {{#if (eq sectionName 'sectionTitle') }}{{/if}}
                                <p>{{currentItem.name}}</p>
                            {{/prduct-list}}  --}}

       </div>
    </div> 


    <div id="derecha">  
        <div class="well">
{{!--                     <h2>Postres y bebidas:</h2>
                     <img class="img-responsive" src="cafe.jpg" alt=""> --}}
    
        </div> 

    </div> 

    <div id="central"> 
        <div class="well">
            <h2>Menú del día</h2>
              <div class="row">
                 <div class="col-lg-12">
                     <img class="img-responsive" src="menudia.jpg" alt="">
{{!--                 {{#product-dos contentArray=model.product_promise as |sectionName currentItem|}}
                                {{#if (eq sectionName 'sectionTitle') }}{{/if}}
                                <p>{{currentItem.name}}</p>
                            {{/product-dos}}  --}}
                      {{#product-detail contentArray=model.product_promise as |sectionName currentItem|}}
                                {{#if (eq sectionName 'sectionTitle') }}
                                     <p>{{currentItem.name}}</p>
                                {{/if}}

                                {{#if (eq sectionName 'sectionBody')}}
                                    <p>{{currentItem.description}}</p>
                                    <p>Precio  ${{currentItem.price}}</p>
                                    <p>Tipo {{currentItem.products.type_id}}</p>
                                {{/if}} 
                    {{/product-detail}} 

                </div>
                      
             </div>
                    <!-- /.row -->
        </div>

    </div> 
</body> 
</html>