
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cafetería Car-Fel</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Acerca de </a>
                    </li>
                    <li>
                        <a href="#">Compras</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <br>
                ....
         
                <h1>Nuestros servicios</h1>
                      <div>
                	 <div class="col-xs-3">
                
                	
                    
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                  
           
                </div>
          
                </div>
                
                <hr>
                 <hr>

                <img class="img-responsive" src="cafe.jpg" alt="" align="center">


              </div>

                

            </div>

        </div>
<br>
<br>
   

</body>

<html> 
<head> 
<title>Test</title> 
<style type="text/css"> 
#izquierda { 
float: left; 
width: 33%; 

} 

#derecha { 
float: right; 
width: 33%; 

} 

#central { 
width: 33%; 
margin: 0 auto; 
} 
</style> 

</head> 

<body> 

<div id="izquierda">  
<div class="well">
 <h4>Nuestros productos:</h4>
<!--                             {{#product-list contentArray=filteredModel as |sectionName currentItem|}}
                                {{#if (eq sectionName 'sectionTitle') }}
<!--                                  // <input type="checkbox" checked={{currentItem.complete}} {{action 'toggleCompleteTask' currentItem on='change'}}/>
 -->                                 {{/if}}
                                {{#if (eq sectionName 'sectionBody')}}
                                 <p><h1>{{currentItem.name}}</h1></p>
                                <p> {{currentItem.description}}</p>
                                 <p>$ {{currentItem.tipo}}</p>
                                {{/if}}
                            {{/product-list}} -->
					<img class="img-responsive" src="cafe.jpg" alt="">
	</div>
</div> 


<div id="derecha">  
 <div class="well">
                    <h4>Las ofertas del día son en:</h4>
                
                <ul>
					<li type="circle">Bebidas</li>
					<li type="circle">Bebidas</li>
					<li type="circle">Bebidas</li>
					<li type="circle">Bebidas</li>
					</ul>
					<img class="img-responsive" src="cafe.jpg" alt="">
	
</div> 

</div> 

<div id="central"> 
          

                <!-- Blog Search Well -->
                

                <!-- Blog Categories Well -->
                <div class="well">
                    <h5>Menú del día</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <!--  {{menusCountLabel}} -->
                            </p>
                            {{#menu-list contentArray=filteredModel as |sectionName currentItem|}}
                                {{#if (eq sectionName 'sectionTitle') }}
<!--                                  // <input type="checkbox" checked={{currentItem.complete}} {{action 'toggleCompleteTask' currentItem on='change'}}/>
 -->                                 {{/if}}
                                {{#if (eq sectionName 'sectionBody')}}
                                 <p><h1>{{currentItem.name}}</h1></p>
                                <p> {{currentItem.description}}</p>
                                 <p>$ {{currentItem.price}}</p>
                                {{/if}}
                            {{/menu-list}}
                            <img class="img-responsive" src="cafe.jpg" alt="">
                        </div>
                      
                    </div>
                    <!-- /.row -->
                </div>
                


</div> 

</body> 
</html>